<main class="main">
    <section class="main__hero">
        <div class="main__hero__container">
            <h1 class="main__hero__container__title">
                <a class="main__hero__container__title--link" href="#takeit">keep calm & ...</a>
            </h1>
            <p class="main__hero__container__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt suscipit harum, soluta quam voluptates optio quia cupiditate sed!</p>
            <a class="main__hero__container__link">--></a>
        </div>
    </section>
    <section class="main__info">
        <div class="main__info__container">
            <h2 class="main__info__container__title" id="takeit">...take it easy</h2>
            <p class="main__info__container__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet fugiat eligendi voluptatum repellat nemo. Hic numquam repellendus fuga? Quaerat, delectus minus non reiciendis excepturi a cupiditate cum? Doloremque, facilis quibusdam.Voluptate nam doloribus non consectetur! Accusantium consectetur, eius aliquid totam eligendi quia obcaecati numquam iste modi nemo pariatur minus voluptates nihil fuga harum aperiam eos laborum. Cumque voluptatum aliquid libero.</p>
            <button class="main__info__container__button">Tell me more
            <a href="./index.html#contact"></a>
            </button>
        </div>
    </section>
    <section class="main__reasons">
        <div class="main__reasons__container">
            <h2 class="main__reasons__container__title">esto es una lista</h2>
            <ul class="main__reasons__container__list">
                <li class= "main__reasons__container__item">
                    <h3 class= "main__reasons__container__list--title">uh! qué interesante</h3>
                    <p class= "main__reasons__container__list--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, ipsum.</p>
                </li>
                <li class= "main__reasons__container__item">
                    <h3 class= "main__reasons__container__list--title">cuéntame más</h3>
                    <p class= "main__reasons__container__list--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, ipsum.</p>
                </li>
                <li class= "main__reasons__container__item">
                    <h3 class= "main__reasons__container__list--title">ajam ajam</h3>
                    <p class= "main__reasons__container__list--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, ipsum.</p>
                </li>
            </ul>
        </div>
        
    </section>

</main>
